div {
    margin: 0;
    text-align: center;
    padding: 25px 90px;
    font-family:  'Courier New', sans-serif;
    font-size: 15px;
    background-color: lightblue;
    border-radius: 15px;
}

h1 {
    color: white;
}

/* p {
    font-family
} */

button {
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: white;
    border-color: black;
}